<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722863673595-41jk6v9rkv1hsg097b20jls7nkb3verf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722863673595-41jk6v9rkv1hsg097b20jls7nkb3verf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722863673595-civ9js0juu1i8bcao6oa12dk1dq2bu52.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvpeT532Q0wP2hpLzhQAlRvcur54qxFzc</string>
	<key>GCM_SENDER_ID</key>
	<string>722863673595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.talenties</string>
	<key>PROJECT_ID</key>
	<string>talenties-5f525</string>
	<key>STORAGE_BUCKET</key>
	<string>talenties-5f525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722863673595:ios:289cdccc2e6297c78ba05e</string>
</dict>
</plist>